* {
  padding: 0;
  margin: 0;
}

.disable-dbl-tap-zoom{
  touch-action: manipulation;
}

body {
  background-color: steelblue;
  overflow: hidden;
  position: fixed;
  width: 100vw;
}

.button-container{
  display: flex;
  justify-content: center;
  margin: 1rem 0rem;
}

#squareCount{
  width: 50%;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-bottom: 5rem;
  color: white;
  background-color: rgb(76, 118, 244);
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  border-style: none;
  font-weight: bold;
  font-size: 1rem;
  }

#gridContainer {

  display: grid;
  width: 25rem;
  height: 25rem;
  margin: auto;
  box-shadow: 0rem .25rem .25rem rgba(0, 0, 0, .5);
  /* grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr); */



  background-color: rgb(255, 255, 255);
  color: white;


}

#testDiv{
  
  background-color: pink;
  color: black;
  border-style: solid;
  border-width: .1rem;
}

.gridItem{
  background-color: rgb(128, 213, 255);
  align-items: center;
  /* padding: 6rem; */
  
}

/* .gridItem:hover{
  background-color: red;
} */


